<template>
    <div class="grid">
        <div class="col-12">
            <Chart :height="300" type="line" :data="chartData" :options="chartOptions" />
        </div>
    </div>
</template>

<script setup>
import { ref, watch, onMounted } from 'vue';
import 'chartjs-adapter-date-fns'; // Import the date adapter

const props = defineProps({
    bookingsByMinute: {
        type: Object,
        required: true
    }
});

// Initialize chart data and options
const chartData = ref(null);
const chartOptions = ref(null);

const predefinedColors = [
    { hex: '#FF5733', name: 'Bright Orange' },
    { hex: '#800080', name: 'Purple' },
    { hex: '#0000FF', name: 'Blue' },
    { hex: '#FFFF00', name: 'Yellow' },
    { hex: '#FF0000', name: 'Red' },
    { hex: '#008000', name: 'Green' }
];

const idToColorMap = {};

const getColorForId = (id, index) => {
    if (!idToColorMap[id]) {
        const color = predefinedColors[index % predefinedColors.length].hex;
        idToColorMap[id] = color;
    }
    return idToColorMap[id];
};

const getRandomColor = (index, id) => {
    const color = getColorForId(id, index);

    const hexToRgba = (hex, alpha) => {
        const bigint = parseInt(hex.slice(1), 16);
        const r = (bigint >> 16) & 255;
        const g = (bigint >> 8) & 255;
        const b = bigint & 255;
        return `rgba(${r},${g},${b},${alpha})`;
    };

    return {
        backgroundColor: hexToRgba(color, 0.17),
        borderColor: color
    };
};

const getColors = (items) => {
    return items.map((item, index) => getRandomColor(index, item.id));
};

onMounted(async () => {
    // console.log(props.bookingsByMinute)
    updateChartData();
});


// Watch for changes in props.bookingsByMinute
watch(() => props.bookingsByMinute, () => {
    updateChartData();
});

// Function to update chart data and options based on props.bookingsByMinute
const updateChartData = () => {
    if (props.bookingsByMinute && props.bookingsByMinute.length > 0) {

        // Prepare datasets dynamically based on props.bookingsByMinute
        const datasets = props.bookingsByMinute.map((item, index) => {
            const concertId = item.id;
            const concertTitle = item.title;
            const color = getRandomColor(index, concertId);
            const data = item.data.map(entry => ({
                x: new Date(entry.x).getTime(), // Assuming ts is a string representing a timestamp
                y: entry.y
            }));
            return {
                label: `${concertTitle}`,
                data: data,
                fill: false,
                borderColor: color.borderColor,
                tension: 0.4,
                borderWidth: 1.7,
                pointRadius: 0,
                pointHitRadius: 200,
                pointHoverRadius: 6,
            };
        });

        // Update chartData and chartOptions
        chartData.value = {
            labels: getUniqueSeconds(props.bookingsByMinute), // Extract and deduplicate minutes from props.bookingsByMinute
            datasets: datasets,
        };

        chartOptions.value = {
            plugins: {
                title: {
                    display: true,
                    text: `Bookings ${new Date().toLocaleDateString('de-DE')}`,
                    font: {
                        size: 18
                    }
                },
                legend: {
                    labels: {
                        boxWidth: 40,
                        color: 'rgba(255, 255, 255, 0.4)',
                    }
                },
                tooltip: {
                    titleColor: 'rgba(255, 255, 255, 0.7)',
                    bodyColor: 'rgba(255, 255, 255, 0.7)',
                    backgroundColor: 'rgba(0, 0, 0, 0.8)',
                }
            },
            scales: {
                x: {
                    type: 'time', // Assuming x-axis represents time
                    time: {
                        unit: 'second' // Display time in minutes
                    },

                    ticks: {
                        color: 'rgba(255, 255, 255, 0.4)',
                    },
                    grid: {
                        display: false,
                    }
                },
                y: {
                    ticks: {
                        color: 'rgba(255, 255, 255, 0.4)'
                    },
                    grid: {
                        display: false,
                    }
                }
            },
            animation: false,
            parsing: true,
            responsive: true,
            maintainAspectRatio: false
        };
    }
};

// Function to extract and deduplicate minutes from props.bookingsByMinute
const getUniqueMinutes = (data) => {
    const uniqueMinutes = new Set();
    data.forEach(item => {
        item.data.forEach(entry => {
            uniqueMinutes.add(entry.x); // Assuming ts is unique per minute
        });
    });
    return Array.from(uniqueMinutes).sort(); // Convert set to sorted array
};

const getUniqueSeconds = (data) => {
    const uniqueSeconds = new Set();
    data.forEach(item => {
        item.data.forEach(entry => {
            uniqueSeconds.add(entry.x); // Assuming ts is unique per second
        });
    });
    return Array.from(uniqueSeconds).sort(); // Convert set to sorted array
};

</script>

<style scoped></style>