<template>
    <div class="grid">
        <div class="col-12">
            <SelectButton v-model="timeselect" :options="timeselection.map(option => option.label)"
                @change="onTimeSelect" aria-labelledby="basic" />
            <Chart :height="300" type="bar" :data="chartData" :options="chartOptions" />
        </div>
    </div>
</template>

<script setup>
import { ref, watch, onMounted } from 'vue';

const emit = defineEmits(['timeSelectCallback'])

const props = defineProps({
    concerts: {
        type: Object,
        required: true
    }
});


// Initialize chart data and options
const chartData = ref(null);
const chartOptions = ref(null);

const timeselection = ref([
    { label: '1 Min', minutes: 1 },
    { label: '5 Min', minutes: 5 },
    { label: '30 Min', minutes: 30 },
    { label: '1 Hour', minutes: 60 }
]);

const timeselect = ref(timeselection.value[0].label);

const onTimeSelect = (event) => {
    const selectedOption = timeselection.value.find(option => option.label === event.value);
    if (selectedOption) {
        emit('timeSelectCallback', selectedOption.minutes);
    }
};


const predefinedColors = [
    { hex: '#FF5733', name: 'Bright Orange' },
    { hex: '#800080', name: 'Purple' },
    { hex: '#0000FF', name: 'Blue' },
    { hex: '#FFFF00', name: 'Yellow' },
    { hex: '#FF0000', name: 'Red' },
    { hex: '#008000', name: 'Green' }
];

const idToColorMap = {};

const getColorForId = (id, index) => {
    if (!idToColorMap[id]) {
        const color = predefinedColors[index % predefinedColors.length].hex;
        idToColorMap[id] = color;
    }
    return idToColorMap[id];
};

const getRandomColor = (index, id) => {
    const color = getColorForId(id, index);

    const hexToRgba = (hex, alpha) => {
        const bigint = parseInt(hex.slice(1), 16);
        const r = (bigint >> 16) & 255;
        const g = (bigint >> 8) & 255;
        const b = bigint & 255;
        return `rgba(${r},${g},${b},${alpha})`;
    };

    return {
        backgroundColor: hexToRgba(color, 0.17),
        borderColor: color
    };
};

const getColors = (items) => {
    return items.map((item, index) => getRandomColor(index, item.id));
};

onMounted(async () => {
    updateChartData();
});

watch(() => props.concerts, () => {
    updateChartData();
});

const updateChartData = () => {
    if (props.concerts && props.concerts.length > 0) {
        // Extract concert titles and availability
        const labels = props.concerts.map(item => item.title);
        const data = props.concerts.map(item => item.available);

        const colors = getColors(props.concerts);

        const dataset = {
            label: 'Concert Availability',
            data: data,
            backgroundColor: colors.map(color => color.backgroundColor),
            borderColor: colors.map(color => color.borderColor),
            borderWidth: 1,
        };

        // Update chartData and chartOptions
        chartData.value = {
            labels: labels,
            datasets: [dataset],
        };

        chartOptions.value = {
            plugins: {
                title: {
                    display: true,
                    text: `Concerts Availability`,
                    font: {
                        size: 18
                    }
                },
                legend: {
                    display: false
                },
                tooltip: {
                    titleColor: 'rgba(255, 255, 255, 0.7)',
                    bodyColor: 'rgba(255, 255, 255, 0.7)',
                    backgroundColor: 'rgba(0, 0, 0, 0.8)',
                }
            },
            scales: {
                x: {
                    type: 'category',
                    labels: labels,
                    ticks: {
                        color: 'rgba(255, 255, 255, 0.4)',
                    },
                    grid: {
                        display: false,
                    }
                },
                y: {
                    beginAtZero: true,
                    suggestedMax: 100, // You can adjust this value based on your needs
                    ticks: {
                        color: 'rgba(255, 255, 255, 0.4)'
                    },
                    grid: {
                        display: false,
                    }
                }
            },
            animation: false,
            responsive: true,
            maintainAspectRatio: false
        };
    }
};
</script>

<style scoped></style>
