<template>
    <div class="grid">
        <div class="col-12">
            <Chart :height="300" type="line" :data="chartData" :options="chartOptions" />
        </div>
    </div>
</template>

<script setup>
import { ref, watch, onMounted } from 'vue';
import 'chartjs-adapter-date-fns';

const props = defineProps({
    durationsByMinute: {
        type: Object,
        required: true
    },
});

// Initialize chart data and options
const chartData = ref(null);
const chartOptions = ref(null);

const idToColorMap = {
    1: '#FF0000', // Red for the first ID
    2: '#008000'  // Green for the second ID
};

const getColorForId = (id) => {
    return idToColorMap[id] || '#000000'; // Default to black if ID is not in the map
};

onMounted(async () => {
    updateChartData();
});

watch(() => props.durationsByMinute, () => {
    updateChartData();
});

const updateChartData = () => {
    if (props.durationsByMinute && props.durationsByMinute.length > 0) {
        const datasets = props.durationsByMinute.map((item, index) => {
            const platformId = item.id;
            const color = getColorForId(index+1);
            const data = item.data.map(entry => ({
                x: new Date(entry.x).getTime(),
                y: entry.y
            }));

            const metric = item.metrics;
            const avg = metric.avg.toFixed(2);
            const std = metric.std.toFixed(2);
            const min = metric.min.toFixed(2);
            const max = metric.max.toFixed(2);

            return {
                label: `${platformId} (avg: ${avg}, std: ${std}, min: ${min}, max: ${max})`,
                data: data,
                fill: false,
                borderColor: color,
                tension: 0.4,
                borderWidth: 1.7,
                pointRadius: 0,
                pointHitRadius: 200,
                pointHoverRadius: 6,
            };
        });

        chartData.value = {
            labels: getUniqueSeconds(props.durationsByMinute),
            datasets: datasets,
        };

        chartOptions.value = {
            plugins: {
                title: {
                    display: true,
                    text: `Data Write Performance in ms`,
                    font: {
                        size: 18
                    }
                },
                legend: {
                    labels: {
                        boxWidth: 40,
                        color: 'rgba(255, 255, 255, 0.4)',
                    }
                },
                tooltip: {
                    titleColor: 'rgba(255, 255, 255, 0.7)',
                    bodyColor: 'rgba(255, 255, 255, 0.7)',
                    backgroundColor: 'rgba(0, 0, 0, 0.8)',
                }
            },
            scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'second'
                    },
                    ticks: {
                        color: 'rgba(255, 255, 255, 0.4)',
                    },
                    grid: {
                        display: false,
                    }
                },
                y: {
                    ticks: {
                        color: 'rgba(255, 255, 255, 0.4)'
                    },
                    grid: {
                        display: false,
                    }
                }
            },
            animation: false,
            parsing: true,
            responsive: true,
            maintainAspectRatio: false
        };
    }
};

const getUniqueSeconds = (data) => {
    const uniqueSeconds = new Set();
    data.forEach(item => {
        item.data.forEach(entry => {
            uniqueSeconds.add(entry.x);
        });
    });
    return Array.from(uniqueSeconds).sort();
};

</script>

<style scoped></style>
