@font-face {
  font-family: 'Public Sans Round';
  src: url('../fonts/publica-sans-round-regular.otf') format('opentype');
}

@font-face {
  font-family: 'Philosopher Regular';
  src: url('../fonts/philosopher-regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Public Sans Round', sans-serif;
}

/*Überschrift bei Tabellen bleibt immer sticky und geht beim scrollen nicht unter.*/
thead {
  background-color: #343a40;
  color: white;
  position: sticky;
  top: 0;
}

/* Bei Info wird jede 2. Hauptüberschriften farbig */
.custom-row-gray {
  background-color: #d3f3fa !important;
}

.custom-row-white {
  background-color: #fce5cf !important;
}

.blue {
  color: blue !important;
}

.orange {
  color: orange !important;
}

.green {
  color: green !important;
}

.whitefont {
  color: white !important;
}

.whitefont:hover {
  color: white !important;
}

.blackfont {
  color: black;
}

.blackfont:hover {
  color: black !important;
}

.table td, .table th {
  border-top: none !important;
}

.verticalline {
  border-left: 1px solid #dee2e6;
  height: 43vh;
}

.scrollbar {
  overflow-y: overlay;
  height: 43vh;
}

/* Für Tabellen ohne .table-dark also ganz normal */
.selected-row td {
  background-color: #007bffd4 !important;
}

/* Für Tabellen mit .table-dark - bos-shadow muss auf none da sonst das schwarz immer dem der neuen Farbe überwiegt*/
.table-dark .selected-row td {
  box-shadow: none;
  background-color: #007bffd4 !important;
}

.accordion-body {
  padding: 0px !important;
}

.infoStyle {
  width: 28px;
  height: fit-content;
}

.loadingspinner {
  width: 28px !important;
  height: 28px !important;
}

.switchcursorpointer input[type="checkbox"]:hover {
  cursor: pointer;
}

.cursorpointer:hover {
  cursor: pointer;
}

.cursor-not-allowed:hover {
  cursor: not-allowed;
}

.spacebetween {
  margin-bottom: 1.5rem !important;
}

.pagenotfound {
  display: flex;
  height: 94vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-size: 23px;
  text-align: center;
  background-image: url("../images/404.jpg");
}

.smallHeader {
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 45px;
}

.bigHeader {
  font-size: 80px;
}

.home {
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 90vh;
  background-repeat: no-repeat;
  background-image: url("..//images/home_bg.jpg");
  background-position: center;
}

label { /*Für den Switchtoggle*/
  cursor: pointer !important;
}

pre { /*Für CategoryInfoModalFirmware.js also um den Contenttext richtig anzuzeigen mit Umbrüche*/
  font-size: medium !important;
  font-family: "PT Sans", sans-serif !important;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.card-title {
  font-family: 'Philosopher Regular', sans-serif;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.carousel-home .carousel-indicators button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.carousel-home {
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  .home-content {
    display: none;
  }
}

.button-group {
  margin-right: 1%;
}

.game-card-container {
  display: flex;
  flex-direction: column;
  background-color: #4d555c;
}

.game-card-container::before {
  content: '';
  position: absolute;
  bottom: 2%;
  width: 100%;
  height: 5%;
  background: linear-gradient(to top, #4d555c, transparent);
}

.upper-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
}

@media screen and (max-width: 655px) {
  #card-upper-row, #card-lower-row {
    justify-content: center;
  }
}

span {
  color: white;
  font-size: 250%;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.why-choose-us-container {
  display: flex;
  flex-direction: column;
  background-color: #2d2e30;
}

@media screen and (max-width: 1615px) {
  #why-choose-us-upper-row, #why-choose-us-lower-row {
    justify-content: center !important;
  }
}

.reviews-container {
  display: flex;
  flex-direction: column;
  background-color: #4d555c;
}

@media screen and (max-width: 815px) {
  #reviews-upper-row {
    justify-content: center !important;
  }
}

.payment-section {
  display: flex;
  background-color: #444649;
  justify-content: center;
}

.payment-section img{
  width: 45%;
  height: 45%;
  padding-top: 1%;
  padding-bottom: 1%;
}