.footer-container {
  background-color: #343a40;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-section {
  max-width: 1000px;
  width: 100%;
}

.footer-section-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  margin: 0 auto 0 auto;
}

.logoBottom,
.logoBottom:hover {
  color: white !important;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 820px) {
  .footer-section-wrap {
    flex-direction: column;
  }

  .footer-section-wrap > a {
    font-size: 0.8rem;
  }
}

.socialMediaIconStyle .nav-item {
  margin-right: 10px;
  color: white;
}