.game-card {
    width: 16rem;
    height: 16rem;
    position: relative;
    display: flex;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: box-shadow 0.3s, transform 0.3s, filter 0.3s;
    background-color: #7d848a;
    background-size: cover;
    filter: grayscale(100%); /* Startet als Schwarz-Weiß */
}

.game-card:hover {
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    filter: grayscale(0%); /* Wechselt zu Farbe beim Hover */
    transform: scale(1.05);
    cursor: pointer;
}

.card-link {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Philosopher Regular', sans-serif;
    font-size: 120%;
}
