.navbar-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-brand img {
    width: 30px;
    margin-right: 0.4vh;
  }
  
  .nav-link {
    color: white !important;
    font-size: 16px;
  }
  
  .navbar-nav .nav-link {
    margin-right: 70px;
}

.ml-auto {
  margin-right: 20px;
}

.mr-2 {
  margin-right: 40px;
}

@media screen and (max-width: 1400px) {
  .ml-auto {
    display: none !important;
  }
  .navbar-nav {
    margin: 0 auto;
  }
}