.reviews-card {
    width: 20rem;
    height: 10rem;
    border-radius: 15px;
    margin-bottom: 3%;
    transition: box-shadow 0.3s, transform 0.3s;
    background-color: #464a4e;
    background-size: cover;
}

.review-text {
    color: white;
    font-family: 'Public Sans Round', sans-serif;
    font-size: 18px;
    margin-left: 5%;
    margin-top: 5%;
}

.nickname-text {
    color: white;
    font-family: 'Public Sans Round', sans-serif;
    font-size: x-large;
    margin-top: 4%;
    margin-left: 3%;
}

.review-owner {
    display: flex;
    margin-top: 10%;
    margin-left: 5%;
}

.pfp {
    width: 20%;
    height: 20%;
}
