.why-choose-us-card {
    width: 40rem;
    height: 10rem;
    border-radius: 15px;
    margin-bottom: 3%;
    transition: box-shadow 0.3s, transform 0.3s;
    background-color: #464a4e;
    background-size: cover;
}

.why-choose-us-card .card-title {
    color: white;
    font-size: 180%;
    border-bottom: none;
    margin-top: 20%;
    font-family: 'Public Sans Round', sans-serif;
}

.why-choose-us-card .card-text {
    color: white;
    font-family: 'Public Sans Round', sans-serif;
}

.why-choose-us-card .card-img {
    width: 10%;
    height: 15%;
    margin-right: 10%;
    margin-left: 7%;
    margin-top: 7%;
    border-radius: 50%;
    border: 5px solid black;
}