<template>
  <div class="grid">
    <div class="col-0 md:col-0 xl:col-1" />
    <div class="col-12 md:col-12 xl:col-10">
      <Card>
        <template #content>
          <Concerts v-if="concerts" v-bind="{ concerts }" @time-select-callback="timeSelectCallback">
          </Concerts>
        </template>
      </Card>
    </div>
    <div class="col-0 md:col-0 xl:col-1" />

    <div class="col-0 md:col-0 xl:col-1" />
    <div class="col-12 md:col-12 xl:col-10">
      <Card>
        <template #content>
          <Bookings v-if="bookingsByMinute" v-bind="{ bookingsByMinute }">
          </Bookings>
        </template>
      </Card>
    </div>
    <div class="col-0 md:col-0 xl:col-1" />
    <div class="col-0 md:col-0 xl:col-1" />
    <div class="col-12 md:col-12 xl:col-10">
      <Card>
        <template #content>
          <Durations v-if="durationsByMinute" v-bind="{ durationsByMinute }">
          </Durations>
        </template>
      </Card>
    </div>
    <div class="col-0 md:col-0 xl:col-1" />
  </div>
</template>

<script setup>
import { ref, onMounted } from "vue";
import Concerts from './components/Concerts.vue';
import Bookings from './components/Bookings.vue';
import Durations from './components/Durations.vue';
import { WS_URL, uniqueId } from './lib/env.js';
import { getBookings, getDurations, getConcerts } from './lib/getBookings.js';

const initialReconnectDelay = 1000
const maxReconnectDelay = 16000
let currentReconnectDelay = initialReconnectDelay

let bookingsByMinute = ref(null)
let durationsByMinute = ref(null)
let concerts = ref(null)

let lastMinutes = 1

onMounted(async () => {
  await getSocketConnection()
  await timeSelectCallback(lastMinutes)
});

const timeSelectCallback = async (minutes) => {
  lastMinutes = minutes
  await concertsCallback()
  await bookingsCallback(lastMinutes)
  await durationsCallback(lastMinutes)
}

const concertsCallback = async () => {
  concerts.value = await getConcerts()
}

const bookingsCallback = async (minutes) => {
  bookingsByMinute.value = await getBookings(minutes)
}

const durationsCallback = async (minutes) => {
  durationsByMinute.value = await getDurations(minutes)
}

const getSocketConnection = async () => {
  try {
    let socket = new WebSocket(WS_URL);
    socket.onopen = () => {
      console.log("connected ", WS_URL);
      currentReconnectDelay = initialReconnectDelay;
    };
    socket.onmessage = (m) => {
      if ('ping' === m.data) {
        console.log("ping")
        socket.send('pong')
      }
      else if (uniqueId === m.data) {
        timeSelectCallback(lastMinutes);
      }
    };

    socket.onclose = (event) => {
      socket = null;
      setTimeout(() => {
        reconnectToWebsocket();
      }, currentReconnectDelay + Math.floor(Math.random() * 1500));
    };
  } catch (err) {
    console.log(err);
  }
};

const reconnectToWebsocket = () => {
  if (currentReconnectDelay < maxReconnectDelay) {
    currentReconnectDelay *= 2;
  }
  getSocketConnection();
};

</script>
